.choresText {
   color: grey;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   font-style: italic;
}

.choresHeading {
   color: grey;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
   text-decoration: underline;
}